.hero-about{
        margin: 0 auto;
        padding: 8rem 4rem 0rem 8rem;
    }

    .hero-about .about-container{
        display: flex;
        justify-content: space-between;
        padding: 4rem 8rem 0rem 0rem;
    }

    .hero-about .about-right-part img{
        transform:translatey(-50%);
        height: 600px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.177) 20px 20px 20px;
        margin-left: 30px;
    }  

    .hero-about .title{
        font-size: 100px;
        margin-bottom: 50px;
        color:white;                
    }

    .hero-about .content{
        max-width: 700px;
        color:white;
    }

    .hero-about .content h3{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: normal;
    }