    .hero {
        position: relative;
        min-height: 100vh;
        background: url("../assets/images/background_LE_upscale_balanced.png") center / cover no-repeat;
        overflow: hidden;
        z-index: 0;
        width: 100%;
    }

    .hero::after{
        content: "";
        top: 0px;
        left: 0px;
        position: absolute;
        background: linear-gradient(45deg,rgba(0, 0, 0, 0.3),rgba(128, 128, 128, 0.685), rgba(0, 0, 0, 0.318),rgba(128, 128, 128, 0.603),rgba(0, 0, 0, 0.3)); 
        animation: animate 15s linear infinite;
        background-size:400%;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .hero-content{
        width: 50%;
        height: 100vh;
        margin-left:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 100px;
        color:white;
        z-index: 10;
    }

    .hero-figure {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 2;
    }

    .hero-content .intro{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .hero-content .title{
        font-size: 80px;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
        background-size: 400%;
        background: linear-gradient(
                    45deg,
                    grey 0%,
                    grey 40%,
                    white 60%,
                    grey 100%
                    );
        background-clip: text;
        animation: animate 5s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @keyframes animate {
        0%{
        background-position:400%;
        }
    } 

    .hero-content .description{
        font-size: 25px;
    }

    nav {
        display: block;;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    body .fa-bars{
        display:none;
    }

    aside{
        display:none;
    }

    nav .logo a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
    }

    nav .nav-links {
        display: flex;
        list-style: none;
    }

    nav .nav-links li {
        margin-left: 30px;
    }

    nav .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
        transition: color 0.3s ease;
    }