            *{
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                font-family: sans-serif, arial;
            }

            body{
                width: 100%;
                overflow-x: hidden;
            }            

            .other-sections{
                background: linear-gradient(
                            225deg,
                            #4b4b4b 0%,
                            #111112 100%
                            );
            }

            .section{
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.5s ease;
            }